
h1{
   padding-right:500px;
    color:aliceblue;
}
img {
    cursor:pointer;
    display:block;
    text-align: center;
    font-size:10em;
    border-radius:4px;
    border:10px solid #bbb;
    transition: all 0.3s linear;
}
.gap{
    padding-top: 15px;
    
}
.gap1{
    padding-top: 30px;
}
.btn{
    background-color: darkgray;
}